<!DOCTYPE html>
<html>
{% include 'bases/head.html' %}

{% block content %}
<style>
body{
    overflow-y: hidden;
}
button {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background: #8fcc84;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    }

button:hover {
    background: #7cce6d;
    text-decoration: none;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: hsla(0, 6%, 93%, 0.664);
  text-align: center;
  padding: 7px;
  font-size: 15px;
  color: #333;
}
</style>
<body>	
    <!-- {% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %} -->
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="POST">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" name="matricula" id="matricula" required>
                        <label class="texto" for="matricula">Matrícula</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" id="password" required>
                        <label for="password">Senha</label>
                    </div>
                    <div class="forget">
                        <label for="remember">
                            <input type="checkbox" id="remember"> Lembrar <a href="#">Esqueci minha senha</a>
                        </label>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <ul class="flashes">
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  {% endwith %}
                    <button type="submit">Entrar</button>
                    <div class="register">
                        <p><a href="/cadastro">Não tem uma conta? Cadastre-se</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock %}

{% include 'bases/footer.html' %}

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
