{% extends 'base.html' %}

{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block main %}
<br><br><br><br><br><br><br>
<div class="container-fluid">
  <div class="row my-4">
    <div class="card col p-1 mx-2" style="width:100px">
      <div class="card-body ">
        <h4 class="card-title">Domingo</h4>
        <a href="horario_semana" class="btn btn-warning ">VER</a>
      </div>
    </div>
    <div class="card col p-1 mx-2" style="width:100px">
      <div class="card-body">
        <h4 class="card-title">Segunda</h4>
        <a href="horario_semana" class="btn btn-warning ">VER</a>
      </div>
    </div>
    <div class="card col p-1 mx-2" style="width:100px">
      <div class="card-body">
        <h4 class="card-title">Terça</h4>
        <a href="horario_semana" class="btn btn-warning ">VER</a>
      </div>
    </div>
     <div class="card col p-1 mx-2" style="width:100px">
      <div class="card-body">
        <h4 class="card-title">Quarta</h4>
        <a href="horario_semana" class="btn btn-warning ">VER</a>
      </div>
    </div>
    <div class="card col p-1 mx-2" style="width:100px">
      <div class="card-body">
        <h4 class="card-title">Quinta</h4>
        <a href="horario_semana" class="btn btn-warning ">VER</a>
      </div>
    </div>
    <div class="card col p-1 mx-2" style="width:100px">
      <div class="card-body">
        <h4 class="card-title">Sexta</h4>
        <a href="horario_semana" class="btn btn-warning ">VER</a>
      </div>
    </div>
    <div class="card col p-1 mx-2" style="width:100px">
      <div class="card-body">
        <h4 class="card-title">Sábado</h4>
        <a href="horario_semana" class="btn btn-warning ">VER</a>
      </div>
    </div>
  </div>

  {% endblock %}